{
    "openapi": "3.0.0",
    "info": {
        "title": "ct-project-api",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "https://ct-project.pp.ua/api/"
        },
        {
            "url": "http://172.19.0.1/api/"
        }
    ],
    "paths": {
        "/v1/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "5e6212e902f560c1cc9027f81a70c9c9",
                "parameters": [
                    {
                        "name": "firstName",
                        "in": "query",
                        "description": "Max: 255 symbols",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "lastName",
                        "in": "query",
                        "description": "Max: 255 symbols",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "phoneNumber",
                        "in": "query",
                        "description": "Min: 4 symbols, max: 30, only numbers allow",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 30,
                            "minLength": 4
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Max: 255 symbols",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Min: 6 symbols, max: 255, at least one number and one capital letter",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "minLength": 6
                        }
                    },
                    {
                        "name": "password_confirmation",
                        "in": "query",
                        "description": "Should repeat password field",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "minLength": 6
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        },
                                        "emailVerify": {
                                            "$ref": "#/components/schemas/EmailVerification"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Response for logged user",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "You are logged in already."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "235c436498314d3616f1ca4d343f48f2",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Only email from DB, max: 255 symbols",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Min: 6 symbols, max: 255, at least one number and one capital letter",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "minLength": 6
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        },
                                        "Bearer": {
                                            "$ref": "#/components/schemas/Bearer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Response for logged user",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "You are logged in already."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Wrong email or password",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/profile": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "924474c59278b2e20b7b5b20f109a502",
                "responses": {
                    "200": {
                        "description": "Shows user profile",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Unauthenticated."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "411ce3ba48bf14ea9556a2eb57d970ea",
                "responses": {
                    "200": {
                        "description": "Logout user",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "User was logged out."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Unauthenticated."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/categories": {
            "get": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "4c055d6b8be34ca32e5b24cd266d606b",
                "parameters": [
                    {
                        "name": "lastId",
                        "in": "query",
                        "description": "Min: 0",
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show all categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Category"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "90eaef1cf8afc09b050f1d8e8904fe94",
                "parameters": [
                    {
                        "name": "parentId",
                        "in": "query",
                        "description": "Parent Category ID",
                        "schema": {
                            "type": "integer",
                            "nullable": true
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Name of the category",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Show created category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Category"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/categories/{id}": {
            "get": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "f7820a3849ad5a0105dbd309f8c822cb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show city by id",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Category"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "4223e0c5199d45c323dcc1b69f454bb3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The category has been deleted"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "c71dccf133a443ad50dcd0db41408fd3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "parentId",
                        "in": "query",
                        "description": "Parent Category ID",
                        "schema": {
                            "type": "integer",
                            "nullable": true
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Name of the category",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show all cities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Category"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/cities": {
            "get": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "919e094db6c915b7b2245d8fb1cb4466",
                "parameters": [
                    {
                        "name": "lastId",
                        "in": "query",
                        "description": "Min: 0",
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show all cities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/City"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "67cd2a02e740d5b8eb97bebae9a7a8d9",
                "parameters": [
                    {
                        "name": "countryId",
                        "in": "query",
                        "description": "Country ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "parentId",
                        "in": "query",
                        "description": "Parent Category ID",
                        "schema": {
                            "type": "integer",
                            "nullable": true
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of the city",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created city",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/City"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/cities/{id}": {
            "get": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "69b5841158ef993fa3edb7ca988291db",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "City ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show information about the city",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/City"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "5e19c0f76eee7d87703cf2c659a0196c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "City ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The city has been deleted"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "f6960ca5f3505fc2f14510dfa1cc24e8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "City ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "countryId",
                        "in": "query",
                        "description": "Country ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "parentId",
                        "in": "query",
                        "description": "Parent Category ID",
                        "schema": {
                            "type": "integer",
                            "nullable": true
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of the city",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show information about updated city",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/City"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/resend-verification-email": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "1e1ae40df7a09d7e0cc9a9be3c34d0aa",
                "responses": {
                    "200": {
                        "description": "Send verification email data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/EmailVerification"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "If email is verified already",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Your email is already verified."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/email-verify/{id}": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "6b6394b2b34f8646c26f9546009eece9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User ID",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "expires",
                        "in": "query",
                        "description": "timestamp",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "query",
                        "description": "Hashed email",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "signature",
                        "in": "query",
                        "description": "electronic signature",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Verify your email or email is already verified",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Your email has been verified."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "If url expired or invalid",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Invalid/Expired url provided."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/homepage": {
            "get": {
                "tags": [
                    "Homepage"
                ],
                "operationId": "0201fb70720700b07ab2091c801306c7",
                "responses": {
                    "200": {
                        "description": "Homepage response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Homepage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/reset-password": {
            "post": {
                "tags": [
                    "Password"
                ],
                "operationId": "4de8a30539c666087205cac24911016b",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Only emails of existing users, max:255 symbols",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Generates reset password token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ResetPassword"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "data": {
                                        "email": "example@gmail.com",
                                        "token": "736b32a5265d825732add264f4f85d9e090e4231193a2ad916d962b5a9aca089"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The user's email is not exist",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Error"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "data": {
                                        "message": "The user is not exist.",
                                        "code": 400
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/change-password/{token}": {
            "post": {
                "tags": [
                    "Password"
                ],
                "operationId": "d0317d817ab15e329a8419c12c1d820d",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "password_confirmation",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The password has been changed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "message": "The password has been changed."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid token or email",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Error"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "data": {
                                        "message": "Invalid token or email.",
                                        "code": 400
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/admin/services": {
            "get": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "00baecdd5c8011da0c3f5fadb367a3eb",
                "parameters": [
                    {
                        "name": "lastId",
                        "in": "query",
                        "description": "Min: 0",
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show all services",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Service"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "e47780c3bc19c6823a153a591036ff5a",
                "parameters": [
                    {
                        "name": "categoryId",
                        "in": "query",
                        "description": "Only existing Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "max: 255",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "max: 500",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 500
                        }
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "description": "regex in format: 999.99",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "name": "cityId",
                        "in": "query",
                        "description": "Only existing City ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Create new service",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Service"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/services/{id}": {
            "get": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "f2054b5c3ba54ce70c8662610187038a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show the service",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Service"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "91e3731205a9a05018c2e618702ebf50",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Delete the service"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "caa4db44aeac4e90a1d82e9fb49a009f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "categoryId",
                        "in": "query",
                        "description": "Only existing Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "max: 255",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "max: 500",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 500
                        }
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "description": "regex in format: 999.99",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "name": "cityId",
                        "in": "query",
                        "description": "Only existing City ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show updated service",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Service"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Category": {
                "description": "Show information about category",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "parentId": {
                        "description": "Integer or null",
                        "type": "integer"
                    },
                    "title": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "createdBy": {
                        "$ref": "#/components/schemas/Support"
                    },
                    "updatedBy": {
                        "$ref": "#/components/schemas/Support"
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    }
                },
                "type": "object",
                "example": [
                    {
                        "id": 1,
                        "parentId": null,
                        "title": "Макіяж",
                        "slug": "makiyazh",
                        "createdBy": {
                            "id": 1,
                            "firstName": "Марк",
                            "lastName": "Косенко",
                            "email": "mark.kosenko@gmail.com"
                        },
                        "updatedBy": {
                            "id": 6,
                            "firstName": "Ганна",
                            "lastName": "Носенко",
                            "email": "hanna.nosenko@gmail.com"
                        },
                        "createdAt": "2023-12-02 14:51:18",
                        "updatedAt": "2023-12-12 16:26:18"
                    }
                ]
            },
            "CityIdNameAndSlug": {
                "description": "Show information about city id, name and slug",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "title": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "City": {
                "description": "Show information about city",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "country": {
                        "$ref": "#/components/schemas/CountryIdNameAndSlug"
                    },
                    "parentId": {
                        "description": "Integer or null",
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    }
                },
                "type": "object",
                "example": [
                    {
                        "id": 1,
                        "country": {
                            "id": 1,
                            "name": "Україна"
                        },
                        "parentId": null,
                        "name": "Київ",
                        "slug": "ukrayina-kiyiv",
                        "createdAt": "2023-12-02 14:51:18",
                        "updatedAt": "2023-12-02 14:56:21"
                    }
                ]
            },
            "CountryIdNameAndSlug": {
                "description": "Show information about country id and name",
                "properties": {
                    "id": {
                        "description": "Transform the resource into an array.",
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Error": {
                "description": "Show error exception",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "code": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ValidationErrors": {
                "description": "Validation Errors",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "errors": {
                        "description": "each key describes error message",
                        "properties": {
                            "query or path name": {
                                "type": "array",
                                "items": {}
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object",
                "example": {
                    "message": "The email field must be a valid email address. (and 3 more errors)",
                    "errors": {
                        "email": [
                            "The email field must be a valid email address."
                        ],
                        "password": [
                            "The password field confirmation does not match.",
                            "The password field must contain at least one uppercase and one lowercase letter.",
                            "The password field must contain at least one number."
                        ]
                    }
                }
            },
            "AboutUsBlock": {
                "description": "Show About Us block data",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "image": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "CategoriesBlock": {
                "description": "Show categories block title and description",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "CategoriesContent": {
                "description": "Show categories block title and description",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "subcategories": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Subcategories"
                        }
                    }
                },
                "type": "object"
            },
            "Footer": {
                "description": "Show Footer block data",
                "properties": {
                    "description": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Header": {
                "description": "Show header",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Links": {
                "description": "Show all links",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "link": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Homepage": {
                "description": "Show homepage data",
                "properties": {
                    "data": {
                        "properties": {
                            "logo": {
                                "type": "string"
                            },
                            "links": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Links"
                                }
                            },
                            "header": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Header"
                                }
                            },
                            "categoriesBlock": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/CategoriesBlock"
                                }
                            },
                            "categoriesContent": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/CategoriesContent"
                                }
                            },
                            "aboutUsBlock": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/AboutUsBlock"
                                }
                            },
                            "footer": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Footer"
                                }
                            },
                            "socialMedia": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/SocialMedia"
                                }
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "SocialMedia": {
                "description": "Show all social media links",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "link": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Subcategories": {
                "description": "Show all subcategories",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ResetPassword": {
                "description": "Show email and generated reset token",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "token": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Service": {
                "description": "Show information about service",
                "properties": {
                    "id": {
                        "description": "Transform the resource into an array.",
                        "type": "integer"
                    },
                    "category": {
                        "type": "integer"
                    },
                    "title": {
                        "type": "integer"
                    },
                    "description": {
                        "type": "integer"
                    },
                    "user": {
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "firstName": {
                                "type": "string"
                            },
                            "lastName": {
                                "type": "string"
                            },
                            "email": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "price": {
                        "type": "number",
                        "format": "double"
                    },
                    "city": {
                        "$ref": "#/components/schemas/CityIdNameAndSlug"
                    },
                    "createdAt": {
                        "type": "integer"
                    },
                    "updatedAt": {
                        "type": "integer"
                    }
                },
                "type": "object",
                "example": {
                    "id": 1,
                    "category": {
                        "id": 4,
                        "title": "Догляд за нігтями",
                        "slug": "doglyad-za-nigtyami"
                    },
                    "title": "Заголовок послуги",
                    "description": "Детальний опис послуги",
                    "user": {
                        "id": 32,
                        "firstName": "Олена",
                        "lastName": "Новікова",
                        "email": "olena.novikova@example.com"
                    },
                    "price": 900.45,
                    "city": {
                        "id": 1,
                        "name": "Київ",
                        "slug": "ukrayina-kiyiv"
                    },
                    "createdAt": "2023-12-02 14:51:18",
                    "updatedAt": "2023-12-02 14:51:18"
                }
            },
            "Bearer": {
                "description": "Shows Bearer token",
                "properties": {
                    "accessToken": {
                        "description": "Bearer token",
                        "type": "string"
                    },
                    "token": {
                        "description": "Token info",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "user_id": {
                                "type": "integer"
                            },
                            "client_id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            },
                            "scopes": {
                                "type": "array",
                                "items": {
                                    "properties": {}
                                }
                            },
                            "revoked": {
                                "type": "boolean"
                            },
                            "created_at": {
                                "type": "string"
                            },
                            "updated_at": {
                                "type": "string"
                            },
                            "expires_at": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "EmailVerification": {
                "description": "Show email verification data",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "expires": {
                        "type": "integer"
                    },
                    "hash": {
                        "type": "string"
                    },
                    "signature": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Support": {
                "description": "Show information about user with support role",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "User": {
                "description": "Show information about user",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "phoneNumber": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "name": "bearerAuth",
                "in": "header",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    }
}