{
    "openapi": "3.0.0",
    "info": {
        "title": "ct-project-api",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "https://ct-project.pp.ua/api/"
        },
        {
            "url": "http://172.19.0.1/api/"
        }
    ],
    "paths": {
        "/v1/admin/categories": {
            "get": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "3133d5ea8706f58a99df9c5bdbede62b",
                "parameters": [
                    {
                        "name": "lastId",
                        "in": "query",
                        "description": "Min: 0",
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show all categories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Category"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "7a001a43920c3ba28c4b3df77ae1311b",
                "parameters": [
                    {
                        "name": "parentId",
                        "in": "query",
                        "description": "Parent Category ID",
                        "schema": {
                            "type": "integer",
                            "nullable": true
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Name of the category",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Show created category",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Category"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/categories/{id}": {
            "get": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "2d471267bdc73dcc22ac5a4447d2800d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show city by id",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Category"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "0a74440c8eb0366b196f573bb5038c4c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The category has been deleted"
                    },
                    "400": {
                        "description": "The category used by other services.",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "data": {
                                        "message": "This category is using by other services.",
                                        "code": 400
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "ee196a96e4c2e31deca15254b8f59d64",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "parentId",
                        "in": "query",
                        "description": "Parent Category ID",
                        "schema": {
                            "type": "integer",
                            "nullable": true
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Name of the category",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show all cities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Category"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/cities": {
            "get": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "c91f673c41f31d221cd1ab64f2fdc0a7",
                "parameters": [
                    {
                        "name": "lastId",
                        "in": "query",
                        "description": "Min: 0",
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show all cities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/City"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "fb1725cfdc2d1032a6a3ed68f0d53e32",
                "parameters": [
                    {
                        "name": "countryId",
                        "in": "query",
                        "description": "Country ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "parentId",
                        "in": "query",
                        "description": "Parent Category ID",
                        "schema": {
                            "type": "integer",
                            "nullable": true
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of the city",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created city",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/City"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/cities/{id}": {
            "get": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "3d1c5bddbcdf09db9ef0de6df58b9a75",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "City ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show information about the city",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/City"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "083b0432171448f133e66ee7beb0a494",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "City ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "The city has been deleted"
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "e14dd9812dbf4a95b5bd2b26a5a7cf3b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "City ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "countryId",
                        "in": "query",
                        "description": "Country ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "parentId",
                        "in": "query",
                        "description": "Parent Category ID",
                        "schema": {
                            "type": "integer",
                            "nullable": true
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of the city",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show information about updated city",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/City"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/homepage/footer-update": {
            "patch": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "a8873fd05e7819d2c7442ff0a0f8f2d9",
                "parameters": [
                    {
                        "name": "description",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "privacyPolicyLink",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show updated footer info",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Footer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/services": {
            "get": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "68aa901cafb7fcbd8b45f712507ae71b",
                "parameters": [
                    {
                        "name": "lastId",
                        "in": "query",
                        "description": "Min: 0",
                        "schema": {
                            "type": "integer",
                            "minimum": 0
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show all services",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Service"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "487d67aa8e30b9271399fdf3dc21984d",
                "parameters": [
                    {
                        "name": "categoryId",
                        "in": "query",
                        "description": "Only existing Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "max: 255",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "max: 500",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 500
                        }
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "Only existing User ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "description": "regex in format: 999.99",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "name": "cityId",
                        "in": "query",
                        "description": "Only existing City ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Create new service",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Service"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/admin/services/{id}": {
            "get": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "ba089f9b570285388e4979fb08c81488",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show the service",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Service"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "6d32efc9b8bb1726e307f51056a3e867",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Delete the service"
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Admin Panel"
                ],
                "operationId": "ef81fadcfd718c86f9d2fd26c7565734",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "categoryId",
                        "in": "query",
                        "description": "Only existing Category ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "max: 255",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "max: 500",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 500
                        }
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "Only existing User ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "description": "regex in format: 999.99",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "name": "cityId",
                        "in": "query",
                        "description": "Only existing City ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Show updated service",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Service"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "92d4d4a67620796154eba15acf0aebff",
                "parameters": [
                    {
                        "name": "firstName",
                        "in": "query",
                        "description": "Max: 255 symbols",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "lastName",
                        "in": "query",
                        "description": "Max: 255 symbols",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "phoneNumber",
                        "in": "query",
                        "description": "Min: 4 symbols, max: 30, only numbers allow",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 30,
                            "minLength": 4
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Max: 255 symbols",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Min: 6 symbols, max: 255, at least one number and one capital letter",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "minLength": 6
                        }
                    },
                    {
                        "name": "password_confirmation",
                        "in": "query",
                        "description": "Should repeat password field",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "minLength": 6
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        },
                                        "emailVerify": {
                                            "$ref": "#/components/schemas/EmailVerification"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Response for logged user",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "You are logged in already."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "0d353a34683158f474628745e9a6281e",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Only email from DB, max: 255 symbols",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Min: 6 symbols, max: 255, at least one number and one capital letter",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "minLength": 6
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        },
                                        "Bearer": {
                                            "$ref": "#/components/schemas/Bearer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Response for logged user",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "You are logged in already."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Wrong email or password",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/profile": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "6c85a99ba65cb3715102bc5c19626219",
                "responses": {
                    "200": {
                        "description": "Shows user profile",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Unauthenticated."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "99ccc86dcfe0e50655e6b66807806b95",
                "responses": {
                    "200": {
                        "description": "Logout user",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "User was logged out."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Error: Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Unauthenticated."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/resend-verification-email": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "6c8288970086eaedc92106f45c029648",
                "responses": {
                    "200": {
                        "description": "Send verification email data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/EmailVerification"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "If email is verified already",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Your email is already verified."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/email-verify/{id}": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "c4a82e83c15136210a0fe0a907996d8d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User ID",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    },
                    {
                        "name": "expires",
                        "in": "query",
                        "description": "timestamp",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "query",
                        "description": "Hashed email",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "signature",
                        "in": "query",
                        "description": "electronic signature",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Verify your email or email is already verified",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Your email has been verified."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "If url expired or invalid",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "message": "Invalid/Expired url provided."
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/reset-password": {
            "post": {
                "tags": [
                    "Password"
                ],
                "operationId": "17e2d5e32f73e63e4d6d10b61dae2088",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Only emails of existing users, max:255 symbols",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Generates reset password token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ResetPassword"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "data": {
                                        "email": "example@gmail.com",
                                        "token": "736b32a5265d825732add264f4f85d9e090e4231193a2ad916d962b5a9aca089"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The user's email is not exist",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Error"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "data": {
                                        "message": "The user is not exist.",
                                        "code": 400
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/change-password/{token}": {
            "post": {
                "tags": [
                    "Password"
                ],
                "operationId": "2687b766a372c911895c6c28ee27ca3c",
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "name": "password_confirmation",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The password has been changed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "message": "The password has been changed."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid token or email",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Error"
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "data": {
                                        "message": "Invalid token or email.",
                                        "code": 400
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation errors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrors"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/homepage": {
            "get": {
                "tags": [
                    "Homepage"
                ],
                "operationId": "0201fb70720700b07ab2091c801306c7",
                "responses": {
                    "200": {
                        "description": "Homepage response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Homepage"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Category": {
                "description": "Show information about category",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "parentId": {
                        "description": "Integer or null",
                        "type": "integer"
                    },
                    "title": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "createdBy": {
                        "$ref": "#/components/schemas/Support"
                    },
                    "updatedBy": {
                        "$ref": "#/components/schemas/Support"
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    }
                },
                "type": "object",
                "example": [
                    {
                        "id": 1,
                        "parentId": null,
                        "title": "Макіяж",
                        "slug": "makiyazh",
                        "createdBy": {
                            "id": 1,
                            "firstName": "Марк",
                            "lastName": "Косенко",
                            "email": "mark.kosenko@gmail.com"
                        },
                        "updatedBy": {
                            "id": 6,
                            "firstName": "Ганна",
                            "lastName": "Носенко",
                            "email": "hanna.nosenko@gmail.com"
                        },
                        "createdAt": "2023-12-02 14:51:18",
                        "updatedAt": "2023-12-12 16:26:18"
                    }
                ]
            },
            "CityIdNameAndSlug": {
                "description": "Show information about city id, name and slug",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "title": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "City": {
                "description": "Show information about city",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "country": {
                        "$ref": "#/components/schemas/CountryIdNameAndSlug"
                    },
                    "parentId": {
                        "description": "Integer or null",
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "string"
                    }
                },
                "type": "object",
                "example": [
                    {
                        "id": 1,
                        "country": {
                            "id": 1,
                            "name": "Україна"
                        },
                        "parentId": null,
                        "name": "Київ",
                        "slug": "ukrayina-kiyiv",
                        "createdAt": "2023-12-02 14:51:18",
                        "updatedAt": "2023-12-02 14:56:21"
                    }
                ]
            },
            "CountryIdNameAndSlug": {
                "description": "Show information about country id and name",
                "properties": {
                    "id": {
                        "description": "Transform the resource into an array.",
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Error": {
                "description": "Show error exception",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "code": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ValidationErrors": {
                "description": "Validation Errors",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "errors": {
                        "description": "each key describes error message",
                        "properties": {
                            "query or path name": {
                                "type": "array",
                                "items": {}
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object",
                "example": {
                    "message": "The email field must be a valid email address. (and 3 more errors)",
                    "errors": {
                        "email": [
                            "The email field must be a valid email address."
                        ],
                        "password": [
                            "The password field confirmation does not match.",
                            "The password field must contain at least one uppercase and one lowercase letter.",
                            "The password field must contain at least one number."
                        ]
                    }
                }
            },
            "AboutUsBlock": {
                "description": "Show About Us block data",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "image": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "CategoriesBlock": {
                "description": "Show categories block title and description",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "CategoriesContent": {
                "description": "Show categories block title and description",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    },
                    "subcategories": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Subcategories"
                        }
                    }
                },
                "type": "object"
            },
            "Footer": {
                "description": "Show Footer block data",
                "properties": {
                    "description": {
                        "type": "string"
                    },
                    "privacyPolicyLink": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "Header": {
                "description": "Show header",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Links": {
                "description": "Show all links",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "link": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Homepage": {
                "description": "Show homepage data",
                "properties": {
                    "data": {
                        "properties": {
                            "logo": {
                                "type": "string"
                            },
                            "links": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Links"
                                }
                            },
                            "header": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Header"
                                }
                            },
                            "categoriesBlock": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/CategoriesBlock"
                                }
                            },
                            "categoriesContent": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/CategoriesContent"
                                }
                            },
                            "aboutUsBlock": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/AboutUsBlock"
                                }
                            },
                            "footer": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Footer"
                                }
                            },
                            "socialMedia": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/SocialMedia"
                                }
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "SocialMedia": {
                "description": "Show all social media links",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "link": {
                        "type": "string"
                    },
                    "icon": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Subcategories": {
                "description": "Show all subcategories",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "slug": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ResetPassword": {
                "description": "Show email and generated reset token",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "token": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Service": {
                "description": "Show information about service",
                "properties": {
                    "id": {
                        "description": "Transform the resource into an array.",
                        "type": "integer"
                    },
                    "category": {
                        "type": "integer"
                    },
                    "title": {
                        "type": "integer"
                    },
                    "description": {
                        "type": "integer"
                    },
                    "user": {
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "firstName": {
                                "type": "string"
                            },
                            "lastName": {
                                "type": "string"
                            },
                            "email": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "price": {
                        "type": "number",
                        "format": "double"
                    },
                    "city": {
                        "$ref": "#/components/schemas/CityIdNameAndSlug"
                    },
                    "createdAt": {
                        "type": "integer"
                    },
                    "updatedAt": {
                        "type": "integer"
                    }
                },
                "type": "object",
                "example": {
                    "id": 1,
                    "category": {
                        "id": 4,
                        "title": "Догляд за нігтями",
                        "slug": "doglyad-za-nigtyami"
                    },
                    "title": "Заголовок послуги",
                    "description": "Детальний опис послуги",
                    "user": {
                        "id": 32,
                        "firstName": "Олена",
                        "lastName": "Новікова",
                        "email": "olena.novikova@example.com"
                    },
                    "price": 900.45,
                    "city": {
                        "id": 1,
                        "name": "Київ",
                        "slug": "ukrayina-kiyiv"
                    },
                    "createdAt": "2023-12-02 14:51:18",
                    "updatedAt": "2023-12-02 14:51:18"
                }
            },
            "Bearer": {
                "description": "Shows Bearer token",
                "properties": {
                    "accessToken": {
                        "description": "Bearer token",
                        "type": "string"
                    },
                    "token": {
                        "description": "Token info",
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "user_id": {
                                "type": "integer"
                            },
                            "client_id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            },
                            "scopes": {
                                "type": "array",
                                "items": {
                                    "properties": {}
                                }
                            },
                            "revoked": {
                                "type": "boolean"
                            },
                            "created_at": {
                                "type": "string"
                            },
                            "updated_at": {
                                "type": "string"
                            },
                            "expires_at": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "EmailVerification": {
                "description": "Show email verification data",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "expires": {
                        "type": "integer"
                    },
                    "hash": {
                        "type": "string"
                    },
                    "signature": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Support": {
                "description": "Show information about user with support role",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "User": {
                "description": "Show information about user",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "phoneNumber": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "name": "bearerAuth",
                "in": "header",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    }
}